.comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow-wrap: anywhere;

  padding: 1rem;

  background-color: var(--secondary-bg);
  color: var(--primary-color);

  animation-name: animateInBottom;
  animation-duration: 500ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;
}

.comment:nth-child(even) {
  background-color: var(--secondary-color);
  color: var(--secondary-bg);
}

.info {
  line-height: 1.5rem;
}

.content {
  line-height: 1.5rem;
}

@keyframes animateInBottom {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(50%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
