.preview {
  display: flex;
  flex-direction: column;

  gap: 1rem;

<<<<<<< HEAD
  background-color: var(--secondary-bg);
  padding: 1rem;
=======
  padding: 1rem;
  border: 1px solid black;
>>>>>>> b74a9f74861694d68dcbe7dc46f7c9b696a0b4b0

  width: 100%;
  min-width: min-content;
}

<<<<<<< HEAD
.title {
  color: var(--secondary-color);
}

.content {
  line-height: 1.5rem;
  color: var(--primary-color);
}

.dateComments {
  color: var(--primary-color);
=======
.content {
  line-height: 1.5rem;
>>>>>>> b74a9f74861694d68dcbe7dc46f7c9b696a0b4b0
}

.readMore {
  align-self: flex-end;
<<<<<<< HEAD

  color: var(--primary-color);
  text-decoration: none;
=======
>>>>>>> b74a9f74861694d68dcbe7dc46f7c9b696a0b4b0
}
