#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  padding: 1rem 4rem;
  min-height: 10%;
}

.title {
  font-size: 2rem;
}

.userOptions {
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  li {
    margin: auto 0;
    font-size: 1.15rem;
  }
}

.logOut {
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
}
