#footer {
  padding: 1rem;
  border-top: 2px solid var(--secondary-bg);

  background-color: var(--secondary-bg);

  div {
    max-width: fit-content;

    margin: auto;

    color: var(--primary-bg);
  }
}
